.book-list {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.book-item button {
  background-color: rgb(255, 209, 209);
  color: lightcoral;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}